.profileBlock {
    background: rgb(38, 38, 38);
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: -1px 4px 12px 14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    position: relative;
    right: 550px;
    width: 400px;
}

.profileName {
    color: white;
}

.profileContent {
    display: flex;
    gap: 10px;

    align-items: center;
}

.profileImage {
    width: 80px;
    height: 80px;
}

.profileInfo {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.profileText {
    width: 300px;
    color: rgb(202, 202, 202);
}